@use '../Vars.module.scss' as vars;

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: calc(vars.$height/34);
  padding-bottom: calc(vars.$height/12);
  padding-left: calc(vars.$width/50);
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .wellcome {
    color: vars.$black;
    font-family: 'Popins-bold';
    font-size: clamp(
      calc(vars.$width/6.1),
      calc(vars.$width/6),
      calc(vars.$width/5.9)
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
  }
  .wellcomeW {
    background-color: rgba(255, 255, 255, 0.2);
    mask-image: url('../../assets/mask2.png');
    mask-repeat: repeat;
    mask-size: contain;
  }
  .wellcomeD {
    background-color: red;
    width: 37vw;
    color: white;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .wellcome {
    color: vars.$black;
    font-family: 'Popins-bold';
    font-size: clamp(
      calc(vars.$width/6.1),
      calc(vars.$width/6),
      calc(vars.$width/5.9)
    );
    display: flex;
    flex-direction: column;
    cursor: default;
    justify-content: center;
  }
  .wellcomeW {
    background-color: rgba(255, 255, 255, 0.2);
    mask-image: url('../../assets/mask2.png');
    mask-repeat: repeat;
    mask-size: contain;
  }
  .wellcomeD {
    background-color: red;
    width: 35vw;
    color: white;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .wellcome {
    color: vars.$black;
    font-family: 'Popins-bold';
    font-size: clamp(
      calc(vars.$width/7.1),
      calc(vars.$width/7),
      calc(vars.$width/6.9)
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
  }
  .wellcomeW {
    background-color: rgba(255, 255, 255, 0.2);
    mask-image: url('../../assets/mask2.png');
    mask-repeat: repeat;
    mask-size: contain;
  }
  .wellcomeD {
    background-color: red;
    width: 32vw;
    color: white;
  }
}
@media screen and (min-width: 2560px) {
  .wellcome {
    color: vars.$black;
    font-family: 'Popins-bold';
    font-size: clamp(
      calc(vars.$width/8.9),
      calc(vars.$width/9),
      calc(vars.$width/9.1)
    );
    display: flex;
    flex-direction: column;
    cursor: default;
    justify-content: center;

    .wellcomeW {
      background-color: rgba(255, 255, 255, 0.2);
      mask-image: url('../../assets/mask2.png');
      mask-repeat: repeat;
      mask-size: contain;
    }
    .wellcomeD {
      background-color: red;
      width: 25vw;
      color: white;
    }
  }
}
